@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
}

#circleRating{
  .CircularProgressbar-text {
      font-size: 30px;
      fill: aliceblue;
      font-weight: bold
  }
}
 
.card:hover{
  img{
    opacity: 0.3;
  }
  .hoverStyle{
    visibility: visible;
  }
}

.hovEff:hover{
  cursor: pointer;
}


/* min 350 px to 768 */
@media screen and (min-width:350px) {
  .sliderImg{
    height: 35vh;
  }
}

/* 768 to 1024 */
@media screen and (min-width:768px) {
  .sliderImg{
    height: 45vh;
  }
}

/* 1024 to 1280 */
@media screen and (min-width:1024px){
  .sliderImg{
    height: 60vh;
  }
}

/* min 1280 px or larger */
@media screen and (min-width:1280px) {
  .sliderImg{
    height: 70vh;
  }
}

