@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
}

#circleRating{
    .CircularProgressbar-text {
        font-size: 30px;
        fill: aliceblue;
        /* fill: black; */
        font-weight: bold
    }
}
 
/* In your styles.css or App.css */
/* @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-scroll {
    animation: scroll 10s linear infinite;
  }
   */
   