@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
}

#circleRating{
  .CircularProgressbar-text {
      font-size: 30px;
      fill: aliceblue;
      font-weight: bold
  }
}
 
.card:hover{
  img{
    /* opacity: 0.3; */
  }
  .hoverStyle{
    visibility: visible;
  }
}

#sliderImg{
  height: 80vh;
}

/* @media screen and (min-height:483px){
  #sliderImg{
    height: 50vh;
  }
    
} */